* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Urbanist';
}

.container {
    width: 1320px;
    margin: auto;
}

/* header section starts */

.header_wrapper {
    background: #000 url(../images/background-header-1.png) no-repeat center;
    background-size: cover;
}

.header_main_wrapper {
    padding: 18px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}

.header_main_wrapper p {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
}

.header_main_wrapper .learn_more {
    text-decoration: underline;
    padding-left: 10px;
}


.header_main_wrapper img {
    position: absolute;
    top: 16px;
    right: 18px;
}

/* navbar starts*/

.navbar {
    background: rgba(26, 26, 26, 1);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar_main_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

.navbar_logo img {
    width: 160px;
    height: 48px;
}

.hamburger {
  display: none; /* default hidden */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.hamburger span {
  width: 24px;
  height: 2px;
  background-color: white;
  display: block;
  border-radius: 2px;
}


.navbar_menu ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.navbar_menu ul li a {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-decoration: none;
}

.home_link {
    background: rgba(20, 20, 20, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    padding: 14px 24px;
    border-radius: 10px;
}

.navbar_button a {
    background: rgba(20, 20, 20, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    padding: 16px 24px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

/* navbar ends */

/* header section ends */

/* hero section starts */

.hero_section {
    background: rgba(26, 26, 26, 1);
}

.main_hero_sec {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}


.item {
    /* flex: 1; */
    width: 50%;
}

.hero_content img{
    width: 129px;
    height: 129px;
}


.hero_content {
    width: 610px;
    padding-left: 35px;
    position: relative;
}

.hero_content img {
    position: absolute;
    right: -105px;
    top: 7px;
}

.hero_img img {
    width: 100%;
}

.hero_content h1 {
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 24px;
}

.hero_content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: rgba(153, 153, 153, 1);
}

.hero_content_btns {
    margin-top: 50px;
}

.hero_content_btns a {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    border-radius: 10px;
    text-decoration: none;
    padding: 14px 20px;
    color: rgba(255, 255, 255, 1);
}

.hero_content_btns .btn_learn {
    border: 1px solid rgba(38, 38, 38, 1);

}

.hero_content_btns .btn_browse {
    background: rgba(112, 59, 247, 1);
    margin-left: 16px;
}

.hero_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.hero_boxes .box {
    background: rgba(26, 26, 26, 1);
    border: 1px solid rgba(38, 38, 38, 1);
    padding: 14px 20px;
    border-radius: 10px;
}

.hero_boxes .box h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
}

.hero_boxes .box p {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: rgba(153, 153, 153, 1);
}

/* sub hero starts */

.sub_hero {
    border: 1px solid rgba(38, 38, 38, 1);
    box-shadow: 0px 0px 0px 10px rgba(25, 25, 25, 1);
    background: rgba(20, 20, 20, 1);
    padding: 10px;
}

.sub_hero_boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
}

.sub_hero_box {
    padding: 30px 16px;
    border: 1px solid rgba(38, 38, 38, 1);
    background: rgba(26, 26, 26, 1);
    border-radius: 12px;
    position: relative;
}

.sub_hero_box .right_arrow {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 26px;
    height: 26px;
}

.sub_hero_box .box_icon {
    width: 60px;
    height: 60px;
}

.sub_hero_box h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: rgba(255, 255, 255, 1);
    margin-top: 20px;
}

.sub_hero_boxes .box {
    flex: 1;
}

/* sub hero ends */


/* hero section ends */